@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}
body{
    /*background-color: blue;*/
    background: linear-gradient(#000099,#011d8d,#33ff66);
    /*overflow: hidden;*/
}
.bienvenidos{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.texto-bienvenida{
    color: #fff;
    font-size: 50px;
}
.nombre-juego{
    color: #fff;
    font-size: 70px;
    margin: 12.5px 0;
    animation: grow 2s infinite linear;
}
.creador{
    color: #b1b1b1;
    font-size: 30px;
    margin-bottom: 10px;
}
.comenzar{
    width: 350px;
    height: 50px;
    margin: 15px auto 0 auto;
    font-size: 20px;
    border-radius: 7.5px;
    background-color: #33ff66;
    border: none;
}
.creador > a{
    color: #fff;
    text-decoration: none;
}
.seleccion{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    /*height: 450px;
    margin: auto;
    background-color: #33ff66;*/
    height: 100vh;
    width: 100vw;
    border-radius: 7.5px;
    gap: 20px;
}
.nueva-partida{
    width: 350px;
    height: 50px;
    border-radius: 7.5px;
    border: none;
    background-color: #33ff66;
    border: none;
    font-size: 20px;
}
.volver-home{
    width: 350px;
    height: 50px;
    border-radius: 7.5px;
    border: none;
    background-color: #dad9d9;
    color: #000;
    border: none;
    font-size: 20px;
}
.jugadores-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /*width: 600px;
    height: 450px;
    margin: auto;
    background-color: #33ff66;*/
    border-radius: 7.5px;
}
.volver-prim-pag{
    display: none;
    position: absolute;
    width: 50px;
    height: 30px;
    top: 20px;
    left: 20px;
}
.h1-info-jugadores{
    margin: 0 auto;
    color: #fff;
}
/*.h1-info-jugadores::after{
    content: '';
    width: 200px;
    color: #000099;
    height: 3px;
    position: absolute;
}*/
.info-jugadores{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}
.jugador-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 25px;
    color: #fff;
}
.jugador-name > input{
    width: 350px;
    height: 30px;
}
.btn-name-jugadores{
    width: 350px;
    height: 50px;
    border-radius: 7.5px;
    border: none;
    background-color: #33ff66;
    border: none;
    font-size: 20px;
}
.contenedor-general{
    display: none; /* tiene que ser flex*/
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /*width: 600px;
    height: 450px;
    background-color: #33ff66;*/
    color: #fff;
    margin: auto;
    gap: 10px;
    border-radius: 7.5px;
}
.exit-game{
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    top: 20px;
    left: 20px;
}
#grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
}
.cajas{
    display: flex;
    width: 164px;
    height: 164px;
    background-color: #fff;
    border: 2px solid #000;
}
/*.circle{
    background-image: url(./circle-regular-84.png);
    font-size: 100px;
    color: #a70000;
    display: none;
}
.x{
    background-image: url(./x-regular-84.png);
    font-size: 100px;
    color: rgb(0, 167, 3);
    position: absolute;
    display: none;
}*/
.primer-pop-up{
    display: none;
    flex-direction: column;
    margin: auto;
    width: 450px;
    height: 300px;
    background-color:#000099;
    color: #fff;
    border-radius: 20px;
    top: 250px;
    left: 0;
    right: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.avanzar-pop-up{
    display: block;
    width: 200px;
    height: 50px;
    margin: 15px auto 0 auto;
    font-size: 20px;
    border-radius: 7.5px;
    background-color: #33ff66;
    border: none;
}
.segundo-pop-up{
    display: none;
    flex-direction: column;
    margin: auto;
    width: 450px;
    height: 300px;
    background-color:#000099;
    color: #fff;
    border-radius: 20px;
    top: 250px;
    left: 0;
    right: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cont-button{
    width: 100%;
    height: 50px;
    display: flex;
}
.btnPlayAgain{
    display: block;
    width: 175px;
    height: 50px;
    margin: 15px auto 0 auto;
    font-size: 20px;
    border-radius: 7.5px;
    background-color: #33ff66;
    border: none;
}
.exit{
    display: block;
    width: 175px;
    height: 50px;
    margin: 15px auto 0 auto;
    font-size: 20px;
    border-radius: 7.5px;
    background-color: #dad9d9;
    border: none;
}
@keyframes grow{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}